appdirs>=1.4.4
audioread>=2.1.9
blis>=0.7.4
catalogue>=2.0.4
certifi>=2021.5.30
cffi>=1.14.5
chardet>=4.0.0
click>=7.1.2
cymem>=2.0.5
decorator>=5.0.9
deepspeech>=0.7
idna>=2.10
Jinja2>=3.0.1
joblib>=1.0.1
librosa>=0.8.1
llvmlite<=0.32.1
MarkupSafe>=2.0.1
murmurhash>=1.0.5
numba==0.48
numpy>=1.15.0
packaging>=20.9
pandas>=1.2.5
pathy>=0.5.2
pooch>=1.4.0
preshed>=3.0.5
pycparser>=2.20
pydantic>=1.7.4
pyparsing>=2.4.7
python-dateutil>=2.8.1
pytz>=2021.1
requests>=2.25.1
resampy>=0.2.2
scikit-learn>=0.24.2
scipy>=1.7.0
six>=1.16.0
smart-open>=3.0.0
SoundFile>=0.10.3.post1
spacy>=3.0.6
spacy-legacy>=3.0.6
SpeechRecognition>=3.8.1
srsly>=2.4.1
thinc>=8.0.6
threadpoolctl>=2.1.0
tqdm>=4.61.1
typer>=0.3.2
urllib3>=1.26.6
wasabi>=0.8.2
Wave>=0.0.2
