absl-py==0.10.0
allosaurus==0.3.1
aniso8601==9.0.0
anytree==2.8.0
appdirs==1.4.4
appnope==0.1.0
argon2-cffi==20.1.0
asgiref==3.3.1
astunparse==1.6.3
async-generator==1.10
asyncio==3.4.3
attrs==20.2.0
audeer==1.8.0
audiofile==0.4.0
audioread==2.1.8
autogluon==0.0.14
autogluon-contrib-nlp==0.0.1b20201009
backcall==0.2.0
bcrypt==3.2.0
beautifultable==1.0.1
blabla==0.2.2
bleach==3.2.1
blis==0.4.1
boto==2.49.0
boto3==1.14.57
botocore==1.17.57
cachetools==4.1.1
catalogue==1.0.0
catboost==0.24.2
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
click==7.1.2
cloudpickle==1.6.0
ConfigSpace==0.4.10
contextvars==2.4
corenlp==0.0.14
corenlp-protobuf==3.8.0
cryptography==3.4.6
ctgan==0.2.1
cycler==0.10.0
cymem==2.0.3
Cython==0.29.21
cytoolz==0.10.1
dask==2.30.0
datacleaner==0.1.5
deap==1.3.1
decorator==4.4.2
deepspeech==0.7.4
defusedxml==0.6.0
distributed==2.30.0
Django==3.1.7
docutils==0.15.2
editdistance==0.5.3
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
entrypoints==0.3
fastparquet==0.4.1
filelock==3.0.12
flake8==3.8.4
Flask==1.1.2
Flask-JWT==0.3.2
Flask-RESTful==0.3.8
Flask-SQLAlchemy==2.4.4
Flask-WTF==0.14.3
future==0.18.2
Gammatone @ git+https://github.com/detly/gammatone.git@0626328ef7c31d3b33214db2fdcd52e8601eb4c5
gast==0.3.3
gensim==3.8.3
gluoncv==0.8.0
google-auth==1.21.3
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
graphviz==0.8.4
grpcio==1.32.0
h5py==2.10.0
HeapDict==1.0.1
-e git+git@github.com:jim-schwoebel/allie.git@ee6a14fa21d665889dfeafea85c5b7ff50e4d00b#egg=hpsklearn&subdirectory=training/helpers/hyperopt-sklearn
huggingface-hub==0.0.8
hyperopt==0.2.4
idna==2.10
image==1.5.33
imageio==2.9.0
imageio-ffmpeg==0.4.2
imgaug @ git+https://github.com/aleju/imgaug.git@0101108d4fed06bc5056c4a03e2bcb0216dac326
immutables==0.14
importlib-metadata==4.0.1
iniconfig==1.1.1
ipykernel==5.3.4
ipython==7.18.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==1.1.0
jedi==0.17.2
jellyfish==0.8.2
Jinja2==2.11.2
jmespath==0.10.0
joblib==0.16.0
jsonpickle==1.4
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console==6.2.0
jupyter-core==4.6.3
jupyterlab-pygments==0.1.1
Keras==2.4.3
keras-compressor @ file:///Users/jimschwoebel/Desktop/allie/training/helpers/keras_compressor
Keras-Preprocessing==1.1.2
kiwisolver==1.2.0
liac-arff==2.5.0
librosa==0.6.2
lightgbm==3.0.0
llvmlite==0.31.0
lxml==4.6.3
Markdown==3.2.2
markovify==0.8.3
MarkupSafe==1.1.1
matplotlib==3.4.2
mccabe==0.6.1
mistune==0.8.4
mock==4.0.2
moviepy==1.0.3
msgpack==1.0.0
munkres==1.1.4
murmurhash==1.0.2
natsort==7.0.1
nbclient==0.5.0
nbconvert==6.0.6
nbformat==5.0.7
nest-asyncio==1.4.0
networkx==2.5
nltk==3.4.5
nose==1.3.7
notebook==6.1.4
numba==0.48.0
numpy==1.17.3
oauthlib==3.1.0
opencv-python==4.4.0.46
opencv-python-headless==4.4.0.42
openml==0.10.2
opensmile==1.0.1
opt-einsum==3.3.0
packaging==20.4
pandas==1.1.0
pandocfilters==1.4.2
panphon==0.17
paramiko==2.7.2
parso==0.7.1
pdf2image==1.14.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==6.2.1
pip-autoremove==0.9.1
plac==1.1.3
plotly==4.11.0
pluggy==0.13.1
pooch==1.3.0
portalocker==2.0.0
preshed==3.0.2
proglog==0.1.9
prometheus-client==0.8.0
prompt-toolkit==3.0.7
protobuf==3.13.0
psutil==5.7.0
ptyprocess==0.6.0
py==1.9.0
pyaml==20.4.0
pyarrow==1.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycparser==2.20
pydub==0.24.1
pyee==8.1.0
pyemd==0.5.1
pyfiglet==0.8.post1
pyflakes==2.2.0
Pygments==2.7.1
PyJWT==1.4.2
pyloudnorm==0.1.0
PyNaCl==1.4.0
pyobjc==7.3
pyobjc-core==7.3
pyobjc-framework-Accounts==7.3
pyobjc-framework-AddressBook==7.3
pyobjc-framework-AdSupport==7.3
pyobjc-framework-AppleScriptKit==7.3
pyobjc-framework-AppleScriptObjC==7.3
pyobjc-framework-ApplicationServices==7.3
pyobjc-framework-AuthenticationServices==7.3
pyobjc-framework-AutomaticAssessmentConfiguration==7.3
pyobjc-framework-Automator==7.3
pyobjc-framework-AVFoundation==7.3
pyobjc-framework-AVKit==7.3
pyobjc-framework-BusinessChat==7.3
pyobjc-framework-CalendarStore==7.3
pyobjc-framework-CFNetwork==7.3
pyobjc-framework-CloudKit==7.3
pyobjc-framework-Cocoa==7.3
pyobjc-framework-Collaboration==7.3
pyobjc-framework-ColorSync==7.3
pyobjc-framework-Contacts==7.3
pyobjc-framework-ContactsUI==7.3
pyobjc-framework-CoreAudio==7.3
pyobjc-framework-CoreAudioKit==7.3
pyobjc-framework-CoreBluetooth==7.3
pyobjc-framework-CoreData==7.3
pyobjc-framework-CoreHaptics==7.3
pyobjc-framework-CoreLocation==7.3
pyobjc-framework-CoreMedia==7.3
pyobjc-framework-CoreMediaIO==7.3
pyobjc-framework-CoreMIDI==7.3
pyobjc-framework-CoreML==7.3
pyobjc-framework-CoreMotion==7.3
pyobjc-framework-CoreServices==7.3
pyobjc-framework-CoreSpotlight==7.3
pyobjc-framework-CoreText==7.3
pyobjc-framework-CoreWLAN==7.3
pyobjc-framework-CryptoTokenKit==7.3
pyobjc-framework-DeviceCheck==7.3
pyobjc-framework-DictionaryServices==7.3
pyobjc-framework-DiscRecording==7.3
pyobjc-framework-DiscRecordingUI==7.3
pyobjc-framework-DiskArbitration==7.3
pyobjc-framework-DVDPlayback==7.3
pyobjc-framework-EventKit==7.3
pyobjc-framework-ExceptionHandling==7.3
pyobjc-framework-ExecutionPolicy==7.3
pyobjc-framework-ExternalAccessory==7.3
pyobjc-framework-FileProvider==7.3
pyobjc-framework-FileProviderUI==7.3
pyobjc-framework-FinderSync==7.3
pyobjc-framework-FSEvents==7.3
pyobjc-framework-GameCenter==7.3
pyobjc-framework-GameController==7.3
pyobjc-framework-GameKit==7.3
pyobjc-framework-GameplayKit==7.3
pyobjc-framework-ImageCaptureCore==7.3
pyobjc-framework-IMServicePlugIn==7.3
pyobjc-framework-InputMethodKit==7.3
pyobjc-framework-InstallerPlugins==7.3
pyobjc-framework-InstantMessage==7.3
pyobjc-framework-Intents==7.3
pyobjc-framework-IOSurface==7.3
pyobjc-framework-iTunesLibrary==7.3
pyobjc-framework-LatentSemanticMapping==7.3
pyobjc-framework-LaunchServices==7.3
pyobjc-framework-libdispatch==7.3
pyobjc-framework-LinkPresentation==7.3
pyobjc-framework-LocalAuthentication==7.3
pyobjc-framework-MapKit==7.3
pyobjc-framework-MediaAccessibility==7.3
pyobjc-framework-MediaLibrary==7.3
pyobjc-framework-MediaPlayer==7.3
pyobjc-framework-MediaToolbox==7.3
pyobjc-framework-Metal==7.3
pyobjc-framework-MetalKit==7.3
pyobjc-framework-MetalPerformanceShaders==7.3
pyobjc-framework-ModelIO==7.3
pyobjc-framework-MultipeerConnectivity==7.3
pyobjc-framework-NaturalLanguage==7.3
pyobjc-framework-NetFS==7.3
pyobjc-framework-Network==7.3
pyobjc-framework-NetworkExtension==7.3
pyobjc-framework-NotificationCenter==7.3
pyobjc-framework-OpenDirectory==7.3
pyobjc-framework-OSAKit==7.3
pyobjc-framework-OSLog==7.3
pyobjc-framework-PencilKit==7.3
pyobjc-framework-Photos==7.3
pyobjc-framework-PhotosUI==7.3
pyobjc-framework-PreferencePanes==7.3
pyobjc-framework-PushKit==7.3
pyobjc-framework-Quartz==7.3
pyobjc-framework-QuickLookThumbnailing==7.3
pyobjc-framework-SafariServices==7.3
pyobjc-framework-SceneKit==7.3
pyobjc-framework-ScreenSaver==7.3
pyobjc-framework-ScriptingBridge==7.3
pyobjc-framework-SearchKit==7.3
pyobjc-framework-Security==7.3
pyobjc-framework-SecurityFoundation==7.3
pyobjc-framework-SecurityInterface==7.3
pyobjc-framework-ServiceManagement==7.3
pyobjc-framework-Social==7.3
pyobjc-framework-SoundAnalysis==7.3
pyobjc-framework-Speech==7.3
pyobjc-framework-SpriteKit==7.3
pyobjc-framework-StoreKit==7.3
pyobjc-framework-SyncServices==7.3
pyobjc-framework-SystemConfiguration==7.3
pyobjc-framework-SystemExtensions==7.3
pyobjc-framework-UserNotifications==7.3
pyobjc-framework-VideoSubscriberAccount==7.3
pyobjc-framework-VideoToolbox==7.3
pyobjc-framework-Vision==7.3
pyobjc-framework-WebKit==7.3
pyOpenSSL==20.0.1
pyparsing==2.4.7
pypesq @ https://github.com/vBaiCai/python-pesq/archive/master.zip
Pyphen==0.9.5
pyppeteer==0.2.5
pyrsistent==0.17.3
pytesseract==0.3.4
pytest==6.1.1
python-dateutil==2.8.1
python-docx==0.8.10
pyttsx3==2.90
pytz==2020.1
pyvad==0.1.3
PyWavelets==1.1.1
PyYAML==5.3.1
pyzmq==19.0.2
qtconsole==4.7.7
QtPy==1.9.0
regex==2020.7.14
requests==2.24.0
requests-oauthlib==1.3.0
resampy==0.2.2
retrying==1.3.3
rsa==4.6
s3transfer==0.3.3
sacrebleu==1.4.14
sacremoses==0.0.43
scikit-image==0.17.2
scikit-learn==0.22
scikit-optimize==0.8.1
scikit-plot==0.3.7
scipy==1.5.2
seaborn==0.11.1
Send2Trash==1.5.0
sentencepiece==0.1.91
Shapely==1.7.1
six==1.15.0
sk-video==1.1.10
sklearn==0.0
smart-open==2.1.1
sortedcontainers==2.2.2
SoundFile==0.10.3.post1
sox==1.4.0
spacy==2.3.2
SpeechRecognition==3.8.1
SQLAlchemy==1.3.23
sqlparse==0.4.1
srsly==1.0.5
stanford-corenlp==3.9.2
stanza==1.0.0
stopit==1.1.2
tbb==2019.0
tblib==1.7.0
tensorboard==2.3.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.3.1
tensorflow-estimator==2.3.0
termcolor==1.1.0
terminado==0.9.1
testpath==0.4.4
textacy==0.10.0
textblob==0.15.3
thinc==7.4.1
threadpoolctl==2.1.0
thrift==0.13.0
tifffile==2020.9.3
tokenizers==0.10.3
toml==0.10.1
toolz==0.10.0
torch==1.6.0
torchvision==0.7.0
tornado==6.0.4
TPOT==0.11.3
tqdm==4.46.0
traitlets==5.0.4
transformers==4.6.1
tsaug==0.2.1
typing==3.7.4.3
umap==0.1.1
umap-learn==0.4.4
unicodecsv==0.14.1
Unidecode==1.1.1
update-checker==0.18.0
urllib3==1.25.10
uWSGI==2.0.19.1
v==0.0.0
waitress==1.4.4
wasabi==0.8.0
wcwidth==0.2.5
webencodings==0.5.1
webrtcvad==2.0.10
websockets==8.1
Werkzeug==1.0.1
wget==3.2
widgetsnbextension==3.5.1
wrapt==1.12.1
WTForms==2.3.3
xmltodict==0.12.0
yacs==0.1.8
yellowbrick==1.1
zict==2.0.0
zipp==3.4.1
